body > #logobox{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--n) * 20);
  height: calc(var(--n) * 20);
  background: var(--cl);
  border-radius: 50%;
  transition: transform 1s linear;
}
body > #logobox.active{
  transform: translate(-50%, -50%) rotate(360deg);
}
body > #logobox > img{
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  width: calc(var(--n) * 15);
  height: calc(var(--n) * 15);
}
