body > #logobox{
  position: relative;
  top: calc(50% - var(--n) * 10);
  left: calc(50% - var(--n) * 10);
  width: calc(var(--n) * 20);
  height: calc(var(--n) * 20);
  background: var(--cl);
  border-radius: 50%;
  transition: transform 0.5s linear, box-shadow 0.5s linear;
}
body > #logobox.active{
  transform: rotate(360deg);
  box-shadow: 0 0 0 2px var(--bg), 0 0 0 4px var(--cl);
}
body > #logobox > img{
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  width: calc(var(--n) * 15);
  height: calc(var(--n) * 15);
}
.say{
  position: absolute;
  right: calc(var(--n) * 5);
  bottom: calc(var(--n) * 5);
  width: calc(var(--n) * 40);
  height: calc(var(--n) * 10);
  background: var(--cl);
  border-radius: calc(var(--n) * 5);
  color: var(--bg);
  font-weight: 1000;
  text-align: center;
  line-height: calc(var(--n) * 10);
}
