:root{
  --n: 1vmin;
  --bg: black;
  --cl: white;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  color: var(--cl);
}
body{
  background: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}