*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    cursor: default;
    color: white;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
body > span{
    display: none;
}
body.playing > span{
    display: flex;
    position: absolute;
    top: calc(50vh - 28vmin - 4px);
    width: 20vmin;
    height: 20vmin;
    border: 4px white solid;
    box-sizing: content-box;
    overflow: hidden;
}
body > span#board{
    display: grid;
    top: calc(50vh - 40vmin - 4px);
    left: calc(50vw - 20vmin - 4px);
    width: 40vmin;
    height: 80vmin;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
body > span#hold{
    left: calc(50vw - 45vmin - 4px);
}
body > span#next{
    right: calc(50vw - 45vmin - 4px);
}
body.playing > span > div{
    display: flex;
    position: absolute;
    top: calc(50vw - 38vmin);
    left: calc(50vw - 35vmin);
    width: calc(20vmin/6);
    height: calc(20vmin/6);
}
body > h1{
    display: none;
}
body.playing > h1{
    display: inline;
    position: absolute;
    top: calc(50vh - 34vmin);
    width: 20vmin;
    height: 6vmin;
    font-size: 4vmin;
    text-align: center;
    line-height: 5.75vmin;
    box-sizing: content-box;
}
body > h1#playbtn{
    display: inline;
    position: absolute;
    top: calc(50vh - 1vmin);
    left: calc(50vw - 15vmin);
    width: 30vmin;
    height: 10vmin;
    border: 2px white solid;
    border-radius: 5vmin;
    font-size: 6vmin;
    text-align: center;
    line-height: 9vmin;
}
body.playing > h1#playbtn{
    display: none;
}
body > h1#score{
    top: calc(50vh + 40vmin + 4px);
    left: calc(50vw - 10vmin);
    height: 4vmin;
    font-size: 3vmin;
    line-height: 4.5vmin;
}
body > h1#hold{
    left: calc(50vw - 45vmin);
}
body > h1#next{
    right: calc(50vw - 45vmin);
}
body > div{
    position: absolute;
    top: calc(50vh - 46vmin);
    width: 4px;
    height: 12vmin;
    background-color: black;
}
