*{
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
h1{
  position: absolute;
  top: calc(50vh - 50vmin);
  left: calc(50vw - 50vmin);
  width: 100vmin;
  height: 100vmin;
  color: white;
  font-size: 6vmin;
  align-items: center;
  text-align: center;
  line-height: 100vmin;
}
